*, :after, :before {
  box-sizing: border-box;
  margin: 0;
}
*, :after, :before, legend, td, th {
  padding: 0;
}
div{
  display: block;
}
body, button, input, select, textarea {
  font-size: 14px;
  color: #333;
}
body {
  margin: 0;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
}
:root {
  --swiper-theme-color: #007aff;
}
html, button, input, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, AppleSDGothicNeo, "Apple SD Gothic Neo", Helvetica, "Noto Sans KR", "malgun gothic", "맑은 고딕", sans-serif;
}
html {
  line-height: 1.15;
}
button {
  border-radius: 0;
  overflow: visible;
  background-color: transparent;
  border: none;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;

}
button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0;
}
button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
}
button, select {
  text-transform: none;
}
h1{
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;  
}
label{
  cursor: default;
}
form{
  display: block;
}
input:not([type="range"]):not([type="color"]) {
  writing-mode: horizontal-tb !important;
}
input[type="text" i] {}
input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}
input{
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  background-color: field;   
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  border: initial;
}
svg :not(:root){
  overflow: hidden; 
  overflow-clip-margin: content-box; 
}
svg{
  width: 24;
  height: 24;
  fill: none;  
}
a{
  background-color: transparent;
  text-decoration: none;
}
@media screen and (max-width:374px){
  html{}
}
@media (max-width: 375px){
  .title_{
    padding: 0px 32px;
  }
}
.top_space{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  border-bottom: 0px; 
}
.top_space1{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 20px;
  z-index: -1;
  transform: translateY(-1px);
  background-color: rgb(255, 255, 255);  
}
.top_space2{
  position: relative;
  min-height: 44px;
}
.button_area{
  height: 100%;
  top: 0px;
  left: 5px;
  position: absolute;
  z-index: 99;
  display: flex;
  align-items: center;
}
.xbutton_{
  width: 43px;
  height: 43px;
}
.xbutton_bg{
  width: 44px;
  height: 44px;
  display: inline-block;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NCIgaGVpZ2h0PSI0NCIgdmlld0JveD0iMCAwIDQ0IDQ0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTAgMEg0NFY0NEgweiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTUuMDAwMDAwLCAtNDQuMDAwMDAwKSB0cmFuc2xhdGUoNS4wMDAwMDAsIDQ0LjAwMDAwMCkiLz4KICAgICAgICAgICAgICAgIDxnIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSI+CiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTEyLjc3NiAxMi41MzdMLjI3Ni4wMzdNLjI2NSAxMi41MzNMMTIuNzc2LjAyMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTUuMDAwMDAwLCAtNDQuMDAwMDAwKSB0cmFuc2xhdGUoNS4wMDAwMDAsIDQ0LjAwMDAwMCkgdHJhbnNsYXRlKDE2LjAwMDAwMCwgMTYuMDAwMDAwKSIvPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K);
  background-size: cover;
  background-position: center center;
}
.title_text{
  width: 100%;
  height: 100%;
  padding-left: unset;
  padding-right: unset;
  padding-inline: 49px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateZ(0px);
  text-align: center;
  color: rgb(51, 51, 51);  
}
.title_{
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: auto;
}
.title_area{
  min-height: 44px;
  transition: height 0.4s linear 0s;
}
.bottom_space{
  width: 100%;
  padding: 40px 20px;
}
.input_idpw{
  display: flex;
  flex-direction: column
}
.input_info :first-of-type{
  margin-bottom: -1px;
}
.input_info input{
  position: relative;
  height: 48px;  
}
.input_info{
  padding-bottom: 0px;
}
.input_info2{
  position: relative;
  height: 48px;  
}
.input_content{
  width: 100%;
  padding: 0px 11px 1px 15px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;  
}
.input_info :last-of-type input{
  border-radius: 0px 0px 6px 6px;
}
.save_area{
  display: flex;
  margin: 8px 0px 16px;  
}
.save_area label:first-of-type{
  margin-right: 20px;
}
.save_area label{
  font-size: 14px;
}
.save_idarea{
  padding: 14px 0px 9px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  vertical-align: top;
  line-height: normal;
  color: rgb(51, 51, 51);  
}
.check_agree{
  overflow: hidden;
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;  
}
.between_space{
  margin-right: 12px; 
}
.between_space svg{
  vertical-align: middle;  
}
.login_button{
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 128);
  border: 0px none;
}
.side_content{
  display: inline-block;
  font-size: 16px;
  font-weight: 600;  
}
.login_area button:last-of-type{
  margin-top: 10px;
}
.join_button{
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  color: rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
}
.join_text{
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
.search_area{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;  
}
.search_idt{
  color: rgb(153, 153, 153);  
}
.between_space2{
  width: 1px;
  height: 13px;
  margin: 3px 8px 0px;
  background-color: rgb(221, 221, 221); 
}